@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar Styles */

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2d3748; /* Background of the track */
  border-radius: 5px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #4a5568; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.backgroundImage {
  background-image: url("/assets/chatBg.jpg");
  background-size: cover;
}

/* Message.css */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}